<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{{title}}}</title>
  <meta charset="utf-8">
  <link rel="icon" href="/imgs/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/cv.css">
</head>
<body>
<header style="text-align: center; margin: 0px; padding: 10px;">
  <strong style="font-size: 25px;">
    {{{title}}}
  </strong>
</header>
<div id="wrapper">
  <section id="business_card">
    <section id="general_info">
      <img id="my_photo" src="/imgs/avatar.jpg" alt="Rozhin Alexey photo"/>
      <h2 id="full_name">Rozhin Alexey</h2>
      Birthday:
      <time id="birthday" datetime="1990-01-17">17 January 1990</time>
    </section>

    <section id="contact_details">
      <h2>Contact details</h2>
      <div id="current_phone" class="vert_align">
        <img src="/imgs/phone_icn.png"/>
        <span>+79119382921</span>
      </div>
      <a id="e-mail" title="Send email" href="mailto:alexey.rozhin90@gmail.com">
        alexey.rozhin90@gmail.com
      </a>
      <address id="location">
        <div id="my_county" class="vert_align">
          <img src="/imgs/flag_russia.png" width="20"/>
          <span>Russia</span>
        </div>
        <div id="my_city" class="vert_align">
          <img src="/imgs/coat_of_arms_spb.png" width="20"/>
          <span>Saint-Petersburg</span>
        </div>
      </address>
    </section>
  </section>

  <section id="experience_info">
    <div id="companies_i_worked_for">
      <h2>Companies I used to work</h2>
      {{#each data.companies}}
        <div class="company_i_worked_for">
          <span class="company_name">{{{name}}}</span>
          <time>{{{time}}}</time>
        </div>
      {{/each}}
    </div>

    <div id="Position_projects_i_worked_on">
      <h2>Projects</h2>
      {{#each data.projects}}
        <div class="project">
          <div class="project_name">
            <strong>Project name:</strong> {{{name}}}
          </div>
          <div class="client">
            <strong>Client:</strong> {{{client}}}
          </div>
          <div class="used_technology">
            <strong>Used technology:</strong> {{{used_technology}}}
          </div>
          <div class="my_role">
            <strong>My role:</strong> {{{my_role}}}
          </div>
          <div class="team_size">
            <strong>Team size:</strong> {{{team_size}}}
          </div>
          <div class="platforms">
            <strong>Platforms:</strong> {{{platforms}}}
          </div>
          <div class="project_description">
            <strong>Project description:<br></strong> {{{project_description}}}
          </div>
          <div class="what_i_ve_done">
            <strong>What I have done:<br></strong>
            <ul>
              {{#each what_i_have_done}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="duration">
            <strong>Duration: </strong> {{{duration}}}
          </div>
        </div>
      {{/each}}
    </div>
  </section>
  <section id="education">
    <h2>Education</h2>
    <div class="edu_organization">
      <img class="edu_org_logo" src="/imgs/suai_logo.png"
           alt="Saint-Petersburg State University of Aerospace Instrumentation college logo"/>
      <span>Saint-Petersburg State University of Aerospace Instrumentation (college)</span>
      Computer Systems and Networks
      2008
    </div>
    <div class="edu_organization">
      <img class="edu_org_logo" src="/imgs/politech_logo.png"
           alt="Saint-Petersburg State University of Aerospace Instrumentation college logo"/>
      <span>St. Petersburg State Polytechnic University</span>
      Faculty Of Engineering Cybernetic
      2014
    </div>
  </section>
  <section id="Skills">
    <h2>Skills</h2>
    <div class="programming_languages">
      <h2>Programming languages</h2>
      <ul>
        {{#each data.languages}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </section>
</div>
<footer style="vertical-align: middle">
  <small>Updated at 2015.10.08 17:04</small>
</footer>
</body>
</html>